<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chuks.app"
    android:versionCode="__VERSION_CODE__" android:versionName="__VERSION_NAME__">
    <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="34" />
    <!--CHUKS_PERMISSIONS-->
    <application
        android:label="Chuks"
        android:hasCode="true"
        android:usesCleartextTraffic="true"
        android:theme="@android:style/Theme.Material.NoActionBar">
        <activity android:name=".MainActivity" android:exported="true"
                  android:launchMode="singleTask"
                  android:configChanges="uiMode|orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!--CHUKS_SCHEMES-->
            </intent-filter>
        </activity>
    </application>
</manifest>
